* {
    margin: 0;
    padding: 0;
    
}
ul{
    color: #ff9933
}
#menu {
    
    cursor: pointer;
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #7d0093;
}
#menu .logo > img {
    text-align: start;
    width: 70px;
}

#menu .usuario> img{
    text-align: end;
    width: 60px;
}

h1{
    display:none;
}
#nav ul>li{
    
        list-style-type:none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        float: left;
        justify-content: space-between;
        width: 80px;    
}
/* ================Corpo================== */
h2{
    color: #ff9933;
    background: #67007a;
    text-align: center;
    padding-top: 1%;
}
.letra{
    color: #ff9933;
    background: #7d0093;
    text-align: center;
    padding-top: 1%;
    padding: 5px;
    
    
}
.fotos{
    margin:2%;
    padding: 2%
}
.fotos>.cima{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    padding-top: 1%;
}
.fotos>.baixo{
    display: flex;
    justify-content: space-around;
    padding: 2%;
}


/* =============Rodape=========== */
body{
    background-color: black;
}
#rodape{
    display: block;
    align-items: flex-end;
    justify-content: flex-end;
    background: #7d0093;
    text-align: center;
    padding: 5px 0;
    width:100%;
    /* position: absolute; */
}