* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    color: #ff9933;
}
body{
    background-color: black;
}
#menu {
    display: block;
    cursor: pointer;
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #7d0093;
}
#menu .logo > img {
    text-align: start;
    width: 70px;
}

#menu .usuario> img{
    text-align: end;
    width: 60px;
}
/*--------------- FIM MENU------------------- */
h1{
    display:none;
}
#nav ul>li{
    
    list-style-type:none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    float: left;
    justify-content: space-between;
    width: 80px;
    
}
h2{
    color: #ff9933;
    background: #67007a;
    text-align: center;
    padding-top: 1%;
}
label{
    color:#ff9933

}
    
#dados_agen{
    display: flex;
    align-items: flex end;
    margin: 2%;
    padding-top: 25%;  
}
input{
    width: 90%;
    
}

.grande {
    height: 20%;

}

#rodape{
    display: block;
    align-items: flex-end;
    justify-content: flex-end;
    background: #7d0093;
    text-align: center;
    padding: 5px 0;
    bottom:0;
    width:100%;
    position: absolute;
}
#criar{
    padding: 5%;
    text-align: center;
    
}
#criar>input{
    background:white;
}

#all{
    min-height:100%;
    position:relative;
    
}