* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    color: #ff9933
}
#menu {
    
    cursor: pointer;
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #7d0093;
}
#menu .logo > img {
    text-align: start;
    width: 70px;
}

#menu .usuario> img{
    text-align: end;
    width: 60px;
}

h1{
    display:none;
}
#nav ul>li{
    
        list-style-type:none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        float: left;
        justify-content: space-between;
        width: 80px;
        
    }
    

/*------------------ Eventos---------------- */
#grupo_eventos{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.evento{
    list-style-type: none;
    
   
}
.desc{
    margin-top: -2%;
    margin-bottom: 5%;
    background-color: #7d0093;

}
#prox{
    padding: 5px;
    background-color: #67007a;
    
}
/* --------------------Fim eventos --------------------*/

#orçamento>ul{
    
    background: #7d0093;
    margin-bottom: 10%;
    margin-left: 8%;
    margin-right: 8%;
    list-style-type: none;
    text-align: center;
    border-radius: 100%;
    padding: 3%;
    
    
}

body{
    background-color: black;
}
#rodape{
    display: block;
    align-items: flex-end;
    justify-content: flex-end;
    background: #7d0093;
    text-align: center;
    padding: 5px 0;
    
    width:100%;
    position: absolute;
}